@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

body {
  /* background-color: #F2F2F8; */
  background-color: #F1F7FF;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}